@import "compass/css3";

.table-editable {
  position: relative;
  width: 30%;

  .glyphicon {
    font-size: 20px;
  }
}

.table-remove {
  float:left;
  color: #700;
  cursor: pointer;

  &:hover {
    color: #f00;
  }
}

.table-up, .table-down {
  float:left;
  color: #007;
  cursor: pointer;

  &:hover {
    color: #00f;
  }
}

.table-add {
  color: #070;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 0;

  &:hover {
    color: #0b0;
  }
}